@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  

body{
    background-color: #020817;
}

body::after {
  content: "";
  position: fixed;
  background-image: url(noise.webp);
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  inset: 0;
  opacity: 0.75;
  z-index: 100;
  pointer-events: none;
}